pipeline/Transform.json
{
	"name": "Transform",
	"properties": {
		"activities": [
			{
				"name": "Transform",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set Storage Account Name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set processed csv container name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/vyeli@itba.edu.ar/databricks-etl/transform",
					"baseParameters": {
						"CONTAINER_NAME": {
							"value": "@variables('CONTAINER_NAME')",
							"type": "Expression"
						},
						"STORAGE_ACCOUNT_NAME": {
							"value": "@variables('STORAGE_ACCOUNT_NAME')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Transform",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Storage Account Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "STORAGE_ACCOUNT_NAME",
					"value": "bsdataflow"
				}
			},
			{
				"name": "Set processed csv container name",
				"description": "output folder",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CONTAINER_NAME",
					"value": "output"
				}
			}
		],
		"variables": {
			"STORAGE_ACCOUNT_NAME": {
				"type": "String"
			},
			"CONTAINER_NAME": {
				"type": "String"
			}
		},
		"annotations": []
	}
}