fintech-onboarding/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "fintech-onboarding"
		},
		"Preprocess_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Preprocess'"
		},
		"Transform_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'Transform'"
		},
		"bsinput_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'bsinput'"
		},
		"bsoutput_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'bsoutput'"
		},
		"Preprocess_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0713-023133-bn1ygrfx"
		},
		"Transform_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0713-023133-bn1ygrfx"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Preprocess')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "preprocess the data, eliminating unnecessary columns",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4139596699578409.9.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Preprocess_accessToken')]"
					},
					"existingClusterId": "[parameters('Preprocess_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transform')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4139596699578409.9.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('Transform_accessToken')]"
					},
					"existingClusterId": "[parameters('Transform_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bsinput')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('bsinput_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bsoutput')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('bsoutput_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pre_process",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set Target Container Name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Container Name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Storage Account Name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/vyeli@itba.edu.ar/databricks-etl/pre_process",
							"baseParameters": {
								"STORAGE_ACCOUNT_NAME": {
									"value": "@variables('STORAGE_ACCOUNT_NAME')",
									"type": "Expression"
								},
								"CONTAINER_NAME": {
									"value": "@variables('CONTAINER_NAME')",
									"type": "Expression"
								},
								"TARGET_CONTAINER_NAME": {
									"value": "@variables('TARGET_CONTAINER_NAME')",
									"type": "Expression"
								}
							},
							"libraries": [
								{
									"pypi": {
										"package": "azure-storage-blob"
									}
								}
							]
						},
						"linkedServiceName": {
							"referenceName": "Preprocess",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Storage Account Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "STORAGE_ACCOUNT_NAME",
							"value": "bsdataflow"
						}
					},
					{
						"name": "Set Container Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CONTAINER_NAME",
							"value": "input"
						}
					},
					{
						"name": "Set Target Container Name",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "TARGET_CONTAINER_NAME",
							"value": "output"
						}
					},
					{
						"name": "Transform",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Set processed csv container name",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set Storage Account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/vyeli@itba.edu.ar/databricks-etl/transform",
							"baseParameters": {
								"CONTAINER_NAME": {
									"value": "@variables('PROCESSED_CONTAINER_NAME')",
									"type": "Expression"
								},
								"STORAGE_ACCOUNT_NAME": {
									"value": "@variables('STORAGE_ACCOUNT_NAME')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Transform",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Storage Account",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "pre_process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "STORAGE_ACCOUNT_NAME",
							"value": "bsdataflow"
						}
					},
					{
						"name": "Set processed csv container name",
						"description": "output folder",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "pre_process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "CONTAINER_NAME",
							"value": "output"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"CONTAINER_NAME": {
						"type": "String"
					},
					"STORAGE_ACCOUNT_NAME": {
						"type": "String"
					},
					"TARGET_CONTAINER_NAME": {
						"type": "String"
					},
					"PROCESSED_CONTAINER_NAME": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Preprocess')]",
				"[concat(variables('factoryId'), '/linkedServices/Transform')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_input_onboarding')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "bsinput",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "lk_onboarding.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Unnamed: 0",
						"type": "String"
					},
					{
						"name": "first_login_dt",
						"type": "String"
					},
					{
						"name": "week_year",
						"type": "String"
					},
					{
						"name": "user_id",
						"type": "String"
					},
					{
						"name": "habito",
						"type": "String"
					},
					{
						"name": "habito_dt",
						"type": "String"
					},
					{
						"name": "activacion",
						"type": "String"
					},
					{
						"name": "activacion_dt",
						"type": "String"
					},
					{
						"name": "setup",
						"type": "String"
					},
					{
						"name": "setup_dt",
						"type": "String"
					},
					{
						"name": "return",
						"type": "String"
					},
					{
						"name": "return_dt",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/bsinput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_input_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "bsinput",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bt_users_transactions.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "user_id",
						"type": "String"
					},
					{
						"name": "transaction_dt",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "segment",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/bsinput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_input_users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "bsinput",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "lk_users.csv",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/bsinput')]"
			]
		}
	]
}